@model List<Proyecto3.Models.Entities.Venta>

<h1>Reporte de Ventas del Día</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID Venta</th>
            <th>Nombre del Plato Vendido</th>
            <th>Cantidad Vendida</th>
            <th>Fecha y Hora de la Venta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venta in Model)
        {
            <tr>
                <td>@venta.NumeroOrden/td>
                <td>@venta.NombrePlatoVendido</td>
                <td>@venta.CantidadVendida</td>
                <td>@venta.FechaHoraVenta</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-secondary" asp-action="Index">Volver</a>
